#Float {
    position: fixed;
    display: none;
    right: 0px;
    top: 100px;
    z-index: 1003;

    .float{
        position: relative;
        margin-bottom: 20px;
        .hideFloat {
            position: absolute;
            right: 0;
            top: 1px;
            background: transparent;
            border: 0px;
            height: 24px;
            width: 24px;
        }
    }

    #hideFloat {
        position: absolute;
        right: 0;
        top: 1px;
        background: transparent;
        border: 0px;
        height: 24px;
        width: 24px;
    }
}
@media screen and (min-width: 1130px){
    #Float { display: block; }
}
