@charset "UTF-8";
.breadcrumbs {
	display: table;
	margin: 20px auto;
	padding: 0;
	width: $SIZE-DESKTOP;

	counter-reset: li; /* Initiate a counter */
	list-style: none; /* Remove default numbering */

	.desktop {
		display: inherit;
	}

	.mobile {
		display: none;
	}

	@include media-query(portable) {
		width: 100%;
	}

	@include media-query(portable-small) {
		width: 100%;
		margin: 0;
		.desktop {
			display: none;
		}

		.mobile {
			display: inherit;
		}
	}
}

.breadcrumb {
	background: transparent url(../img/uc/breadcrumb.png) 0 -84px;
	color: $breadcrumb-font;
	display: table-cell;
	font-size: 13px;
	font-weight: bold;
	margin-right: -6px;
	height: 30px;
	padding: 5px 0px;
	position: relative;
	vertical-align: middle;

	@include media-query(portable) {
		margin-right: -10px;
	}

	@include media-query(portable-small) {
		height: 36px;
		width: 20%;
		margin: 0;
		background: $address-background;
		float: left;
		line-height: 12px;
		color: $standard-font;
		font-size: 9px;
		border-right: 1px solid $generic-border;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}

	&.done, &.on {
		&:hover {
			.edit {
				background-position: 0 -14px !important;
			}
		}

	}
	&.done {
		&:hover {
			color: $brand;
		}
	}

	span {
		display: inline-block;
		font-style: normal;
		padding: 0 20px 0 40px;

		i {font-style: normal;}

		@include media-query(portable-small) {
			padding-left: 0;
			text-align: center;
			width: 100%;
			position: absolute;
			top: 9px;
			font-size: 10px;
		}
	}

	/**
	 * EDIT ICON
	 */
	.edit:link,
	.edit:visited {
		display: none;
		position: absolute;
		top: 13px;
		right: 16px;
		background: url(../img/uc/edit.png) no-repeat 0 0;
		width: 12px;
		height: 12px;
		text-indent:-5000px;

		&:hover {
			background-position: 0 -14px;
		}

		@include media-query(portable-small) {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: none;
		}
	}

	/**
	 * NUMBERING FROM OL
	 */
	&:before {
		content: " ";
		counter-increment: li;
		position: absolute;
		left: 5px;
		top: 0;
		height: 40px;
		width: 2em;
		line-height: 40px;
		text-align: center;
		font-weight: bold;
		font-size: 18px;
		color: $breadcrumb-font;

		@include media-query(portable-small) {
			font-size: 12px;
			width: 100%;
			left: 0;
			top: 5px;
			line-height: 18px;
			text-align: center;
			color: $standard-font;
		}
	}

	/**
	 * BACKGROUND SPRITE SHIFTING
	 */
	&.on {
		background-position: 0 -126px;
		color: $article-background;

		@include media-query(portable-small) {
			background: $brand;

			&:before {
				color: $article-background;
				width: 100%;
				left: 0;
				text-align: center;
				font-size: 18px;
				line-height: 32px;
			}
		}

		&:before {
			color: $article-background;
		}
	}

	&.first {
		background-position: 0 0;

		&.on {
			background-position: 0 -42px;

			@include media-query(portable-small) {
				span {
					color: $article-background;
				}
			}
		}

		@include media-query(portable-small) {
			span {
				color: $specific-border;
			}
		}
	}

	&.done {
		cursor: pointer;

		.edit {
			display:block;
		}

		@include media-query(portable-small) {
			color: $brand;
		}

		&:before {
			content: " ";
			background: transparent url(../img/sprites/icons.png) -64px -822px no-repeat;
			width: 16px;
			height: 14px;
			top: 13px;
			left: 18px;

			@include media-query(portable-small) {
				left: 50%;
				margin-left: -8px;
				top: 5px;
				width: 34px;
				height: 30px;
				margin-top: 0;
				background-position: -56px -1033px;

				@include retina2x {
					background-size: $ICONS-SPRITE-RETINA-SIZE;
					background-position: -21px -544px;
				}
			}
		}

		&.disabled {
			cursor: inherit;

			&:hover {color: $breadcrumb-font;}
		}
	}
}

li.breadcrumb {background-size:100% 166px;}