@charset "UTF-8";
button.uc,
.button.uc:link,
.button.uc:visited {

	&.edit-delivery {
		float:right;
		position: relative;
		top: -7px;

		@include media-query(portable-small) {
			width:72px;
			height:28px;
			background:transparent url(../img/sprites/icons.png) 40px -314px no-repeat;
			padding:0;
			border:0;
			text-indent:-5000px;

			@include retina2x {
				background-position: 43px -181px;
				background-size: $ICONS-SPRITE-RETINA-SIZE;
				width: 72px;
				height: 28px;
			}
		}

		.pencil {
			background-image: url(../img/uc/edit.png);
			background-repeat: no-repeat;
			background-position: 0 -12px;
			padding: 0px 6px 0px 6px;
			margin-left: 12px;
		}
	}
}


/**
 * SPECIFIC PAGE BUTTONS
 */
button.submitter.uc {
	display: inline-block;
	float: right;
	margin: 10px 0 10px 0;

	@include media-query(portable-small) {
		width: 100%;
		text-align: center;
	}

	#nextLoader {
		display: inline-block;
		height: 16px;
		overflow: visible;
		position: relative;
		top: -2px;
	}
}



.address-delivery {
	.submitter {
		margin: 0px;

		@include media-query(portable-small) {
			margin: -20px 0 0;
		}
	}
}



#save_delivery_address {
	float:left;
	position: relative;
	padding-left:15px;
	padding-right:15px;

	@include media-query(portable-small) {
		padding-left:3px;
	}
}

#edit_address_close {
	margin-right: 20px;

	@include media-query(portable-small) {
		display: inline-block;
		margin-left: 5%;
		margin-right: 1%;
		position: relative;
		text-align: center;
		width: 43%;
	}
}
