@charset "UTF-8";
$article-background: #FFF;
$lightbox-background: #F2F2F2;

$generic-border: #CCC;
$specific-border: #999;

$specific-background: #E9E9E9;
$total-head-background: #f4f0f1;

$buttons: #D7D7D7;
$cancel: #F40006;
$form-font: #666;
$standard-font: #646870;
$base-font: #000;
$brand: #83B82E;

$offers-small: #808080;
$body-font: #404040;

$h3: #87888A;
$h5: #FF7F2A;
$thead: #F2F0F1;

$address-border: #B9B9B9;
$address-background: #F9F9F9;

$breadcrumb-font: #A4A4A4;
$store-border: #E3E3E3;

$message-font: #A2999F;

$supportReference: #d11F5d;

