@charset "UTF-8";
$htmlBgColor: #e5e2e0;
$headerBorderColor: #292929;
$headerBgColor: #FFF;
$headerIconBgColor: #80B04C;
$headerMenuIconColor: #292929;


/**
 * NEW HEADER COLORS
 */

$buttonCTA: #80b04c;
$siteNavColor: #292929;
$siteNavHoverColor: #F2EFED;
$siteNavOffersColor: #D11F5D;
$basketQuantityColor: #80b04c;
$basketTotalColor: #BA0650;


$navBgColor: #eeeeee;
$navWhiteBgColor: #fff;
$navTextColor: #fff;
$navProductsColor: #fff;
$navProductLinkColor: #292929;
$navProductLinkHoverColor: #292929;
$navBorderColor: #292929;
$navLgBorderColor: #BFBAB7;
$seeAllLinkColor: #80b04c;
$newProductColor: #57a7d8;

$footerBorderColor: #b9babd;
$footerColor: #646870;
$footerBackgroundColor: #f2f1f1;

/**
 * COLORS FOR INFOBANNERS
 */
$infoColor: #292929;

/**
 * WIDTHS / DIMENSIONS
 */

$gutterWidth: 1.2%;
$columnPadding: 1.4%;

$maxWidth: 990px;

$desktopStart: 1024px;
$mobileStart: 767px;

$mobileNavTransitionWidth: 260px;
$mobileNavWidth: 190px;
