@charset "UTF-8";
#CookieBanner {
	font-family: 'Open Sans', sans-serif;
	position: fixed;
	z-index: 200;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(0,0,0,.85);
	color: #fff;
	display: none;

	.container { 
		max-width: $maxWidth;
		margin: 0 auto;
	}

	.mainText { margin-bottom: 0; }

	.subText {
		color: #b9b9b9;
		margin-top: 4px;

		a {
			color: #b9b9b9;
			text-decoration: underline;
		}
	}

	.cookiesInfoMobile { display: none; }

	.cookieInfo {
		float: left;
		width: 65%;
		padding-right: 10px;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 10px;
		@include font-size(13px);
	}
}

#CookieBannerClose {
	float: right;
	margin-top: 20px;
	margin-right: 4px;
	width: 180px;
}

.ie8{
	#CookieBanner{
		background-color: #000;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";      
	}
}

@include media-query(small) {

	#CookieBanner {

		.cookieInfo { 
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}

		.container { 
			max-width: auto;
			padding: 0 12px;
		}
		
		.mainText { text-align: center; }
		.subText { display: none; }
		
		.cookiesInfoMobile {
			float: left;
			display: block;
			width: 50%;
			margin-top: 6px;
			margin-left: 0;
			text-align: center;
				
			a { 
				@include font-size(13px);
				color: #fff;
				text-decoration: underline;
			}
		}

	}

	#CookieBannerClose { 
		margin-top: 0;
		margin-bottom: 20px;
		margin-right: 0;
		width: 50%;
	}

}

