@charset "UTF-8";
/*
	NB: Need to confirm all fonts needed
*/
@font-face {
	font-family:"trend-sans-one";
	src: url(../fonts/trend-sans-one-webfont.ttf);
}

@font-face {
	font-family:"vista-sans-book";
	src: url(../fonts/VistaSansAltBook.ttf);
}