@charset "UTF-8";
$button-border-radius: 5px;

button,
.button:link,
.button:visited {
	box-sizing:border-box;
	display:inline-block;
	padding: 8px 15px;
	border-radius:$button-border-radius;
	@include font-size($h4-size, false);
	font-style: normal;
	text-decoration: none;
	border:0;
	cursor: pointer;
	font-family: "NeuzeitGro-Reg","century gothic",arial,sans-serif;
	background-repeat:repeat-x;
	color: $ctaFont;
	font-weight: normal;

	&.order {background: $ctaOrderBackground;}

	&.primary {background: $ctaPrimaryBackground;}

	&.green-one-color {
		background-color: #70aa40;
		color: #ffffff;
	}

	&.secondary {background: $ctaSecondaryBackground;}

	&.multi {
		background: $ctaMultiBackground;
		color: $ctaMultiFont;

		&:hover {color: $ctaFont;}
	}

	&.squared {border-radius: 0;}


	&.primary-size {
		@include font-size($h2-size, false);
		padding: 7px 30px 6px;
	}

	&.multi-size {
		@include font-size($med2-size, false);
		padding: 6px 10px 5px;
	}

	&:hover {background-color: $ctaHoverBackground;}

	&[disabled="disabled"], &[disabled="disabled"]:active {
		cursor:auto;
		background: $ctaDisabledBackground;
	}

	&:active {background-color: $ctaPressedBackground;}

	&.minus,
	&.plus {
		background-repeat: no-repeat;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		padding: 0;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;

		&:active {
			opacity: 0.5;
			background-color: transparent;
		}

		&:hover {background-color: transparent;}

		&:link {padding: 0;}
	}

	&.minus {
		background: url($sprite-minus-button-large-image) $sprite-minus-button-large-offset-x $sprite-minus-button-large-offset-y;
		width: $sprite-minus-button-large-width;
		height: $sprite-minus-button-large-height;
	}

	&.plus {
		background: url($sprite-plus-button-large-image) $sprite-plus-button-large-offset-x $sprite-plus-button-large-offset-y;
		width: $sprite-plus-button-large-width;
		height: $sprite-plus-button-large-height;
	}
}


/**
 * SPECIFIC PAGE BUTTONS
 */
.submitter {
	display:inline-block;
	float:right;
	margin:20px 0 0;

	@include media-query(palm) {
		width:100%;
		text-align: center;
	}
}
.sigin {
	display: inline-block;
	width: 278px;
	margin-left: 16px;
}
.cancel {display: inline-block;}

.promotion-button {
	overflow: hidden;
	text-align: left;
	margin-top: 0.25em;
	position: relative;

	.btn-text {
		position: relative;
		text-overflow: ellipsis;

		sub {
			background-color: inline-block;
			bottom: 8px;
		}
	}
}

// only include 2x size image for 'retina' screens
@media  only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi) {

	.minus {
		background: url($sprite-mobile-minus-retina-image)  ($sprite-mobile-minus-retina-offset-x / 2) ($sprite-mobile-minus-retina-offset-y / 2);
		background-size: ($sprite-mobile-minus-retina-total-width / 2) auto;
	}

	.plus {
		background: url($sprite-mobile-plus-retina-image)  ($sprite-mobile-plus-retina-offset-x / 2) ($sprite-mobile-plus-retina-offset-y / 2);
		background-size: ($sprite-mobile-plus-retina-total-width / 2) auto;
	}

	@include media-query(palm) {
		.minus,.plus {text-indent: -20px;}
	}

}