@charset "UTF-8";
.cross-sell-offers {
	margin-top: 20px;

	.offer-header {
		background-color: $basket-total-background;
		color: $standard-font;
		border: none;
		padding: 14px;

		.title {
			color: $standard-font;
			@include font-size($base-font-size, false);
		}
	}

	.items {
		background-color: $article-background;
	}

	.item {
		border-top: solid 2px $basket-total-background;
		@if $global-border-box == false {
			@include vendor(box-sizing, border-box);
		}
		float: left;
		margin-top: -2px;
		padding: 20px 14px;
		width: 100%;

		.title {
			color: $standard-font;
			float: left;
			@include font-size($base-font-size);
			font-weight: bold;
			margin-bottom: 12px;
			margin-top: 0;
			width: 100%;
		}

		.item-body {
			padding-top: 12px;
		}

		.thumb {
			display: block;
			width: 28%;
			float: left;
		}

		.description {
			@if $global-border-box == false {
				@include vendor(box-sizing, border-box);
			}
			float: right;
			padding: 0;
			width: 100%;
		}

		.thumb + .description {
			padding: 0 0 0 16px;
			width: 72%;
		}

		.saving {
			width: 30%;
			color: $basket-discount-font;
			text-align: right;
			float: right;
		}
		.slashed {
			text-decoration: line-through;
		}

		ul {
			margin: 0px;
			list-style-position: inside;
			padding: 0;
			@include font-size($milli-size, false);
		}

		li:last-child {
			display: none;	
		}

		.promotion-button {
			float: right;
			margin-top: 20px;
			@if $global-border-box == false {
				@include vendor(box-sizing, border-box);
			}
		}
	}

	.checkout {
		display: none;
	}

	&.cross-sell-popup {
		@include arrow(top, right, $cross-sell-popup-border);
	}

	/*------------------------------------*\
		MEDIA QUERIES PORTABLE
	\*------------------------------------*/
	@include media-query(portable-small) {

		&.cross-sell-popup {
			position: absolute;
			z-index: 100000;
			width: 47%;
			right: 0;
			top: 94px;
			box-shadow: 0 6px 7px rgba(0, 0, 0, 0.1);
			margin: 0;
			border: 5px solid $cross-sell-popup-border;
			border-right: 0;
			border-radius: 5px 0 0 5px;

			&:before,
			&:after {
				right: 20px;
				margin-bottom: 5px;
			}

			.item {
				width: 100%;
				display: block;
			}

			.checkout {
				display: inline-block;
				float: right;
				line-height: 1;
			}

			.offer-header {
				padding: 9px 14px 8px;

				.title {
					line-height: 2;
				}
			}
		}
	}

	/*------------------------------------*\
		MEDIA QUERIES PALM
	\*------------------------------------*/
	@include media-query(palm) {

		&.cross-sell-popup {
			top: 40px;
			width: 90%;
		}
	}

	/*------------------------------------*\
		MEDIA QUERIES LAP
	\*------------------------------------*/
	@include media-query(lap-small) {

		.item {
			width: 50%;
			display: inline-block;
						
			&:nth-child(even) {
				float: right;
			}

			&:nth-child(odd) {
				float: left;
			}
		}
	}
}