@charset "UTF-8";
$papershaker-main-color: #44b8af;
$papershaker-background: #f2efed;
$papershaker-text: #000;
$papershaker-filter-trigger-background: #c2bbb8;
$papershaker-filter-trigger-color: #fff;
$papershaker-filter-popup-background: #fff;
$papershaker-filter-popup-border: #e5e3e1;
$papershaker-filter-selected-option-background: #fff;
$papershaker-card-design-shadow: rgba(0,0,0,0.3);
$papershaker-card-design-background: #fff;
$papershaker-quick-look-background: #fff;
$papershaker-quantity-selector-background: #fff;
$papershaker-quantity-selector-border: #b8b2b2;
$papershaker-quantity-selector-option-border: #e8e7e6;
$papershaker-quantity-selector-selected-background: #f2f0ef;
$papershaker-quantity-selector-selected-price: #ba0650;
//stepped-scrubber
$papershaker-stepped-scrubber-selected: #a3b62c;
//studio
$papershaker-studio-background: #e5e2e0;