@charset "UTF-8";
$column-width: 190px;
#retro-nav{
	@include gradient($nav-grad-light-start, $nav-grad-light-stop);
	
	float: left;
	width: 100%;
	clear: both;
	border-bottom: 1px solid $nav-bottom-border-dark;
	z-index: 1000;
	position: relative;

	ul {
		margin: 0;
		list-style: none;
		padding: 0;
	}

	.nav-top-level {
		min-height: 34px;
		padding-left: 10px;
		float: left;
		position: relative;
		z-index: 1;
		
		@include gradient($nav-grad-dark-start, $nav-grad-dark-stop);
		.nav-light {
			@include gradient($nav-grad-light-start, $nav-grad-light-stop);
			border-left: 1px solid $nav-grad-light-start;
			border-right: 1px solid $nav-grad-light-stop;
		}
	}

	.nav-t {
		float: left;
		min-height: 20px;
		padding: 7px 14px 4px;
		border-left: 1px solid $nav-border-left;
		border-right: 1px solid $nav-border-right;

		&.navalign-right {
			position: relative;
			
			.nav-second-level { 
				right: 0;
			}
		}

		&.navalign-pageLeft {		
			.nav-second-level { 
				left: 0;
			}
		}

		&.navalign-center {
			position: relative;
			
			.nav-second-level.nav-columns-1 { 
				left: 50%; 
				margin-left: -$column-width/2;
			}

			.nav-second-level.nav-columns-2 { 
				left: 50%; 
				margin-left: -$column-width; 
			}

			.nav-second-level.nav-columns-3 {
				left: 50%;
				margin-left: -$column-width*3/2; 
			}
		}

		&.navalign-left {
			position: relative;

			.nav-second-level { 
				left: 0;
			}
		}

		&.has-sub-nav{
			.nav-tl{
				padding-left: 18px;
			}
		}
	}

	.nav-t:hover, .nav-t.nav-active {
		@include gradientShort($nav-hover-start, $nav-hover-stop);
		margin-top: -5px;
		padding-top: 11px;
		border-radius: 5px 5px 0 0;
		z-index: 1;
		border-top: 1px solid $nav-hover-border;

		.nav-tl, .nav-tl:link, .nav-tl:visited, .nav-tl:active {
			color: $nav-link-hover;
			text-decoration: underline;
			.nav-tl-arrow{
				background: transparent url($sprite-top-arrow-hover-image) $sprite-top-arrow-hover-offset-x $sprite-top-arrow-hover-offset-y no-repeat;
				width: $sprite-top-arrow-hover-width;
				height: $sprite-top-arrow-hover-height;
				margin-left: -18px;
				display: inline-block;
		}
	}
	}

	.nav-t.nav-active {
		> .nav-second-level {
			display: block;
			position: absolute;
			z-index: 1000;
			background-color: $top-level-link;
			box-shadow: 2px 2px 3px 0px $nav-shadow;
			padding: 10px 0;
		}
	}

	.nav-tl, .nav-tl:link, .nav-tl:visited, .nav-tl:active {
		color: $top-level-link;
		@include font-size($small-size);
		text-decoration: none;
		.nav-tl-arrow{
			background: transparent url($sprite-top-arrow-image) $sprite-top-arrow-offset-x $sprite-top-arrow-offset-y no-repeat;
			width: $sprite-top-arrow-width;
			height: $sprite-top-arrow-height;
			margin-left: -18px;
			display: inline-block;
	}
	}

	.nav-second-level {
		display: none;

		&.nav-columns-1 {width: 190px;}
		&.nav-columns-2 {width: 380px;}
		&.nav-columns-3 {width: 570px;}
		&.nav-columns-4 {width: 760px;}
		&.nav-columns-5 {width: 950px;}

		.nav-list {
			display: block;
			float: left;
			width: $column-width;
		}		
	}

	.sub-nav {
		width: 170px;
		padding: 3px 10px;

		a, a:link, a:visited, a:active {
			text-decoration: none;
			font-weight: normal;
		}

		a:hover {
			color: $nav-link-hover;
			text-decoration: underline;
		}

		.nav-new {
			color: $nav-highlight;
			padding: 0 0 0 4px;
			font-weight: bold;
		}

		&.nav-bold {
			a, a:link, a:visited, a:hover, a:active {
				font-weight: bold;
			}
		}

		&.nav-divider {
			border-bottom: 1px solid $nav-divider;
			margin-bottom: 4px;
			padding-bottom: 12px;
		}
	}
}
